<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
  <%- include ('partials/header'); %>
  <%- include ('partials/overlay'); %>
  <div class="notification-icon" onclick="handleAlertClick()">
    <i class="la la-bell"></i>
    <span class="notification-dot"></span>
  </div>
  <div class="container-fluid container-max-height" style="padding-top: 2em">
    <!-- Adjust top padding to avoid overlap with fixed navbar -->
    <div id="liveAlertPlaceholder" class="live-alert-placeholder"></div>
    <%- include ('partials/alertMessageModal'); %>
    <%- include ('partials/speedTestModal'); %>
    <div class="row row-container">
      <div class="col-md-3 users-container">
        <%- include ('partials/userContainer'); %>
      </div>
      <div class="col-md-9 chatroom-container">
        <%- include ('partials/messageContainer'); %>
      </div>
    </div>
  </div>
  <%- include ('partials/actionsDropdown'); %>
  <script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
  <script src="/js/speedTest.js"></script>
  <script src="/js/chatroom.js"></script>
</body>

</html>