<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <%- include ('partials/espHeader'); %>
    <%- include ('partials/registerEspModal'); %>
    <%- include ('partials/emergencyRequestModal'); %>
    <%- include ('partials/espNotificationModal'); %>
    <%- include ('partials/espRegisterSuccessModal'); %>
    <%- include ('partials/requestsContainer'); %>
    <script src="/js/emergencyServices.js"></script>
</body>

</html>